@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100..700&family=Roboto+Slab:wght@100..900&family=Roboto:wght@400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 400;
}

.home-body {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/*              HEADER
======================================
*/

.header {
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.social {
    background-color: #e6162e;
    width: 100%;
    height: 50px;
    display: grid;
}

.social-icons {
    width: 250px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;
}

.social-icons a {
    color: #fff;
    font-size: 28px;
}

.social-icons a:hover {
    color: #616161;
}

.nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90px;
}

.nav-logo {
    margin-left: 50px;
    display: flex;
    align-items: center;
}

.nav-link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}

.nav-link a {
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
}

/*              MAIN DEL HOME
===============================================
*/

.home-main {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    height: 100%;
    background-image: url("../img/cover.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-container {
    display: grid;
    grid-column: 2;
    justify-items: center;
    height: 350px;
    margin-top: 80px;

}

.main-container__text {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 10px;
    color: white;
}

.main-container__link {
    background-color: #e6162e;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 18px;
    height: 40px;
}

.main-container__link:hover {
    background-color: #eb253c;
}

/*                  PAGINA DE BLOGS
===================================================
*/

.blogs-main {
    display: grid;
}

.news {
    background-color: #e6e9ed;
    padding: 10px 80px 40px;
}

.news-content {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr;
}

.news-content img {
    grid-column: 1;
    width: 85%;
    display: inline-block;
    margin: 10px 0;
}

.news-info {
    grid-column: 2;
}

.news-info h2 {
    margin-top: 20px;
}

.news-info p {
    margin: 30px 0;
}

/*        BOTON DE BLOGS
============================================================
 */

.blogs-btn{
    text-decoration: none;
    color: #000;
    border: 1px solid #e6162e;
    padding: 10px 15px;
    font-size: 14px;
}

/*POST
==========================*/
.posts{
    padding: 10px 80px 40px;
}

.posts h3{
    border-bottom: 1px solid #cdd2da;
    padding: 20px 0;
}

.posts-blog{
    display: inline-block;
    padding: 10px;
    max-width: 32%;
    margin-bottom: 20px;
}

.posts-blog img{
    width: 100%;
}

.posts-blog h4{
    margin: 20px 0;
}

.posts-blog p{
    margin-bottom: 35px;
}

/*FOOTER
==================================*/
footer{
    width: 100%;
    height: 80px;
    background-color: #22272d;
    border-top: 35px solid #e6162e;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p{
    color: #fff;
    text-align: center;
}

/*BLOG
========================================*/

.main-blog{
    padding: 0 80px 40 px;
}

.main-blog__content img{
    display: inline-block;
    padding: 0 10px 40px;
    width: 100%;
}

.blog-content__article{
    padding: 0 80px 40px;
}

.blog-content__article h4{
    border-bottom: 1px solid #cdd2da;
    padding: 20px 0;
}

.blog-content__article h1{
    margin: 20px 0;
    font-size: 35px;
}

/*SECCION DE CONTACTO
=====================================*/

.section-contact{
    width: 100%;
    background-color: #e6e9ed;
    display: flex;
    justify-content: space-between;
    padding: 20px 80px 50px;
}

.contact{
    display: flex;
    margin: 20px 0px 20px 20px;
}

.contact img{
    width: 100px;
    display: inline-block;
    padding: 10px;
}

.contact-info{
    padding: 20px 0;
    width: 300px;
}

.contact-info a{
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
}
.contact-info p{
    margin-top: 10px;
}

/* PERFIL
=================================*/
.profile{
    padding: 40px 80px;
    background-color: #e6e9ed;
    margin-bottom: 5px;
    display: flex;
}

.profile img{
    width:  320px;
    margin-right: 30px;
}

.project-container{
    padding: 0 80px 40px;
}

.project-container h3{
    border-bottom: 1px solid #cdd2da;
    padding: 20px 0;
    text-align: center;
}

.project{
    display: inline-block;
    padding: 15px;
    max-width: 32%;
    margin-bottom: 50px;
}

.project h4{
    margin: 20px 0;
}

.project p{
    margin-bottom: 35px;
}

@media screen and (max-width: 1060px){
    .posts{
        padding: 20px;
    }
}
@media screen and (max-width: 800px){
    /*Pagina de Inicio */

    /*Página de BLOGS */
    .news{
        padding: 20px;
    }
    .news-content{
        grid-template-columns: auto auto;
    }
    .news-content img{
        width: 90%;
        padding: 10px;
    }

    .posts-blog{
        max-width: 45%;
    }


    /*Página de Blog*/
    .main-blog{
        padding: 20px;
    }
    .main-blog__content img{
        padding: 0;
    }
    .blog-content__article{
        padding: 0;
    }

    .section-contact{
        padding: 20px;
    }
    .contact{
        display: grid;
        margin: 0px;
    }

    /*Página de Perfil*/
    .profile{
        padding: 20px;
    }

    .profile-img img{
        width: 90%;
    }

    .projects-container{
        padding: 20px;
    }
    .project{
        max-width: 45%;
        text-align: center;
    }
}

@media screen and (max-width: 500px){
    /*Pagina de Inicio */
    .social-icons{
        width: 100%;
        padding: 0 5px 0;
        margin: 0;
    }
    .nav-logo{
        display: flex;
        align-items: center;
    }
    .nav-logo, .nav-link{
        margin-right: 10px;
        margin-left: 10px;
    }
    .nav-logo img{
        width: 150px;
    }

    .main-container__text{
        font-size: 25px;
    }

    /*Página de BLOGS */
    .blogs-main{
        padding: 0;
    }
    .news{
        width: 100%;
        padding: 10px;
    }
    .news-content{
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
    }
    .news-content img{
        grid-row: 2;
    }
    .news-content .news-info{
        grid-row: 3;
        grid-column: 1;
    }
    .posts{
        width: 100%;
        padding: 10px;
    }
    .posts-blog{
        max-width: 100%;
    }

    /*Página de Blog*/
    .main-blog{
        padding: 10px;
    }
    .main-blog__content img{
        padding: 0;
    }
    .blog-content__article{
        padding: 0;
    }

    .section-contact{
        padding: 10px;
        display: grid;
    }
    .contact{
        display: grid;
        margin: 0px;
    }

    /*Página de Perfil*/
    .profile{
        padding: 10px;
        display: grid;
    }

    .profile-img img{
        width: 100%;
    }

    .projects-container{
        padding: 10px;
    }
    .project{
        padding: 0;
        max-width: 100%;
        text-align: center;
    }
}