@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100..700&family=Roboto+Slab:wght@100..900&family=Roboto:wght@400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 400;
}

/*              HEADER
======================================
*/

.header {
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.social {
    background-color: #e6162e;
    width: 100%;
    height: 50px;
    display: grid;
}

.social-icons {
    width: 250px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;
}

.social-icons a {
    color: #fff;
    font-size: 28px;
}

.social-icons a:hover {
    color: #616161;
}

.nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90px;
}

.nav-logo {
    margin-left: 50px;
    display: flex;
    align-items: center;
}

.nav-link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}

.nav-link a {
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
}